<!DOCTYPE html>
<html>

<head>
  <title>Gleis 21 Buchungssystem – Neue Buchung</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

  <!--<link rel="stylesheet" href="/stylesheets/styles.css">-->
</head>

<body>
  <nav class="nnavbar navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img
        src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2016-01-11/18230715235_c0a76622c4931df1fda8_88.png"
        width="55" height="35" class="d-inline-block align-top" alt="" />
      Gleis 21 Buchungssystem
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <div id="app">
    <booking-form></booking-form>
    <br />
  </div>
</body>

</html>

<script type="text/x-template" id="booking-form">

<div class="container">

  <div>
        <div class="form-group">
          <label for="title">Titel der Buchung</label>
          <input type="text" required class="form-control" v-model="booking.title">
        </div>
        <div class="form-group">
          <label for="email">E-Mail-Adresse des Kunden</label>
          <input type="email" required class="form-control" v-model="booking.customerEmail">
        </div>
        <div class="form-group">
          <label for="agent">Bearbeiter</label>
          <select v-model="agent">
            <template v-for="a in agents">
              <option>{{a}}</option>
            </template>
          </select>
        </div>
        
        
      </div>
    <div class="row">
      <div class="col-md-12">
      <div v-if="submitResult && submitResult.success">
        <div class="alert alert-success" role="alert">
          <p>Die Buchung wurde erfolgreich angelegt. Bitte sende untenstehende Email an <a v-bind:href="'mailto:'+submitResult.email+'?subject=Ihre Buchung in Gleis 21'">{{submitResult.email}}</a></p>
        </div>
        <div>
          <h4>Information zu früheren Buchungen</h4>
          <template v-if="submitResult.customer">  
            <ul>
              <li v-for="b in submitResult.customer.Buchungen">
              </li>
            </ul> 
        </template>
        <template v-else>
           <p>Dieser Mieter bucht zum ersten Mal.</p>
        </template>
        </div>
        
        <form id="msg-form">
          
          <textarea id="msg">
            <template v-if="submitResult.customer">
            Sehr geehrte(r) {{submitResult.customer.Vorname}} {{submitResult.customer.Nachname}},
            </template>
            <template v-else>
            Hallo,
            </template><br/>
            vielen Dank für Ihr Interesse an Gleis 21! Bitte ergänzen Sie die Details zu 
            Ihrer Buchung unter {{submitResult.editUrl}}.

            Für die Bearbeitung benötigen Sie folgenden PIN-Code:
            {{submitResult.pin}}
          </textarea>
        </form>
      </div>
      <div class="alert alert-danger" role="alert" v-if="submitResult && !submitResult.success">
        {{submitResult.msg}}
      </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
    <button type="button" class="btn btn-primary" :disabled="submitResult && submitResult.success" v-on:click="submit" style="width: 100px"><i class="fas fa-spinner fa-spin" v-if="loading"></i>{{loading ? '' : 'Absenden'}}</button>
      </div>
  </div>
  </div>
  </div>
</script>
<script src="/javascripts/booking_create.js"></script>