<!DOCTYPE html>
<html>

<head>
  <title>Chop Suey</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" href="../stylesheets/fontawesome/css/all.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"
    integrity="sha256-4iQZ6BVL4qNKlQ27TExEhBN1HFPvAvAMbFavKKosSWQ=" crossorigin="anonymous"></script>

  <!--<link rel="stylesheet" href="/stylesheets/styles.css">-->
</head>

<body>
  <nav class="nnavbar navbar-light bg-light">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
      <img
        src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2016-01-11/18230715235_c0a76622c4931df1fda8_88.png"
        width="35" height="35" class="d-inline-block align-top" alt="" />
      Gleis 21 Buchungssystem
    </a>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          {{!--
            <a class="nav-link" href="/timerecords">Meine Happy Hours</a> --}}
        </li>
      </ul>
    </div>
  </nav>
  <br />
  <div id="app">
    <booking-form></booking-form>
    <br />
  </div>
</body>

</html>

<script type="text/x-template" id="booking-form">

      <div class="container">
  <div class="progress" v-if="!initialized">
    <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar"  aria-valuemin="0" aria-valuemax="100" :style="{ width: initializerWidth + '%' }"></div>
  </div>
  <div class="row">
    <div class="col-md-12">
    <div class="alert alert-danger" role="alert" v-if="error">
      {{error}}
    </div>
    </div>
  </div>
  <div v-if="initialized && !error">
        
        <div class="form-group">
          <label for="name">Veranstaltungstitel/Art der Veranstaltung:</label>
          <input type="text" required class="form-control" v-model="booking.name">
        </div>
        <div class="form-group">
          <label for="count">TeilnehmerInnenanzahl</label>
          <input type="number" :min='1' required class="form-control" v-model="booking.participantsCount">
        </div>
        <div class="form-group">
          <label for="name">Organisation/Firma</label>
          <input type="text" class="form-control" v-model="booking.person.org">
        </div>
        <p><b>Ansprechperson:</b></p>
        <div class="form-group">
          <label for="name">Vorname</label>
          <input type="text" required class="form-control" v-model="booking.person.firstName">
        </div>
        <div class="form-group">
          <label for="name">Nachname</label>
          <input type="text" required class="form-control" v-model="booking.person.lastName">
        </div>
        <div class="form-group">
          <label for="email">E-Mail-Adresse</label>
          <input type="email" required class="form-control" v-model="booking.person.email">
        </div>
        
        <p><b>Rechnungsadresse:</b></p>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="address">Strasse</label>
            <input class="form-control" required type="text" v-model="booking.person.street"></input>
          </div>
          <div class="form-group col-md-3">
            <label for="address">Hausnummer</label>
            <input class="form-control" required type="text" v-model="booking.person.hno"></input>
          </div>
          <div class="form-group col-md-3">
            <label for="address">Top</label>
            <input class="form-control" required type="text" v-model="booking.person.ano"></input>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <label for="address">PLZ</label>
            <input class="form-control" required type="text" v-model="booking.person.postcode"></input>
          </div>
          <div class="form-group col-md-8">
            <label for="address">Ort</label>
            <input class="form-control" required type="text" v-model="booking.person.city"></input>
          </div>
        </div>
        <div class="form-group">
          <label for="name">UID-Nummer</label>
          <input type="text" class="form-control" v-model="booking.person.uid">
        </div>
        
        <div style="padding: 10px" class="bg-light">
          <h4>Ausstattung</h4>
          <p>Sofern nicht anders vereinbart sind im Grundpreis enthalten: W-LAN, 1 Beamer, 1 Flipchart, 1 Pinnwand, 1 Funkmikrofon, Sound System</p>
          <div class=" form-group row" v-for="e in booking.equipment">
            <label class="col-sm-4 col-form-label" for="equipment">{{e.name}}</label>
            <div class="col-sm-3">
              <select v-if="e.quantity == 1" class="form-control c-select" v-model="e.count">
                <option :value="1">Ja</option>
                <option :value="0">Nein</option>
              </select>
              <input v-else class="form-control" required type="number" :min='0' :max='e.quantity' v-model="e.count"></input>
              <template v-if="e.notesTitle && e.count > 0">
                <br />
                <b>{{e.notesTitle}}</b>
                <textarea class="form-control" id="decription" rows="2" v-model="e.notes"></textarea>
              </template>
            </div>
            <div class="col-sm-4">
              {{e.description}}
            </div>
          </div>
        </div>
        
        <div class="form-group">
          <label for="decription">Anmerkung</label>
          <textarea class="form-control" id="decription" rows="5" v-model="booking.notes"></textarea>
        </div>

        <div class="alert alert-warning" role="alert">
          <b>Hinweise zur Angabe von Raumnutzungszeiten:</b>
          Bitte geben Sie hier den Zeitraum an, in 
          dem Sie den Raum jeweils für Ihre Buchung benötigen.
          Bitte geben Sie Beginn und Ende Ihrer Veranstaltung, allfällige Auf- oder Abbauzeiten im 
          Anmerkungsfeld an. 
        </div>

        <div class="list-group">
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="cursor: default">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">SAAL 21</h5>
            </div>
            <p class="mb-1">-> klein 84m&sup2; (max. 85 Personen)</p>
            <p class="mb-1">-> groß 117m&sup2; (max. 99 Personen)</p>
            <p class="mb-1">-> eigener Backstage-Raum (16m&sup2;) im Untergeschoß</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="cursor: default">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">SALON 21</h5>
            </div>
            <p class="mb-1">-> 33m&sup2; (max. 14 Personen)</p>
            <p class="mb-1">-> flexible Trennwandzum Saal</p>
          </a>
          <a href="#" class="list-group-item list-group-item-action flex-column align-items-start" style="cursor: default">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1">STATION 21</h5>
            </div>
            <p class="mb-1">-> 15m&sup2; (max. 6 Personen)</p>
            <p class="mb-1">-> Medienraum</p>
            <p class="mb-1">-> Backstage</p>
            <p class="mb-1">-> Workspaces</p>
          </a>
        </div>
        <br/>
        <br/>
        <img src="../images/raumplan.png" style="width: 1110px">
        <br/>
        <b>Möblierung</b>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><img src="../images/moeblierung/block.jpg"> Block</li>
          <li class="list-group-item"><img src="../images/moeblierung/cafe.jpg"> Cafe</li>
          <li class="list-group-item"><img src="../images/moeblierung/carre.jpg"> Carre</li>
        </ul>
        <ul class="list-group list-group-horizontal">
          <li class="list-group-item"><img src="../images/moeblierung/geschwungene-reihen.png"> Geschwungene Reihen</li>
          <li class="list-group-item"><img src="../images/moeblierung/kreis.png">Kreis</li>
          <li class="list-group-item"><img src="../images/moeblierung/uform.png">U-Form</li>
        </ul>
        <br/>
        <br/>
        <div class="jumbotron bg-light" v-for="(ts, index) in booking.timeSlots">
          <button type="button" class="btn btn-danger float-right" v-on:click="deleteTimeSlot(index)"><span class="fa fa-trash"></span></button>
          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="room">Raum</label>
              <select class="form-control c-select" id="room" v-model="ts.roomId">
                <option v-for="r in rooms" :value="r.id">{{r.name}}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="beginn">Begin der Raumnutzung:</label>
              <input type="date" required v-model="ts.beginnDate" class="form-control" id="beginn">
            </div>
            <div class="form-group col-md-2">
              <label>&nbsp;</label>
              <select id="hour" class="form-control" v-model="ts.beginnH">
                <option v-for="h in hours" :value="h">{{h}}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label>&nbsp;</label>
              <select class="form-control" id="minute" v-model="ts.beginnM"">
                <option v-for="m in mins" :value="m">{{m}}</option>
              </select>
            </div>
          </div>

          <div class="form-row">
            <div class="form-group col-md-4">
              <label for="end">Ende der Raumnutzung:</label>
              <input type="date" required v-model="ts.endDate" class="form-control" id="end">
            </div>
            <div class="form-group col-md-2">
              <label>&nbsp;</label>
              <select id="hour" class="form-control" v-model="ts.endH">
                <option v-for="h in hours" :value="h">{{ h }}</option>
              </select>
            </div>
            <div class="form-group col-md-2">
              <label>&nbsp;</label>
              <select class="form-control" id="minute" v-model="ts.endM">
                <option v-for="m in mins" v-bind:value="m">{{ m }}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label for="notes">Anmerkung</label>
            <textarea class="form-control"  placeholder="Bitte geben Sie hier Beginn und Ende der Veranstaltung (Datum & Uhrzeit) ein." id="tsnotes" rows="5" v-model="ts.notes"></textarea>
          </div>
        </div>
      
      <div class="row">
      <div class="col-md-12">
      <button type="button" class="btn btn-success float-right" v-on:click="addTimeSlot"><i class="fas fa-plus"></i>&nbsp;Zeiten hinzufügen</button>
      </div>
    </div>
      <div class="row">
        <div class="col-md-12">
        <div class="alert alert-success" role="alert" v-if="submitResult && submitResult.success">
          {{submitResult.msg}}
        </div>
        <div class="alert alert-danger" role="alert" v-if="submitResult && !submitResult.success">
          {{submitResult.msg}}
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
      <button type="button" class="btn btn-primary" v-on:click="submit" style="width: 100px"><i class="fas fa-spinner fa-spin" v-if="loading"></i>{{loading ? '' : 'Absenden'}}</button>
      
        </div>
    </div>
    </div>
    </div>
</script>
<script src="../javascripts/booking.js"></script>