<!DOCTYPE html>
<html>

<head>
  <title>Chop Suey</title>
  <link rel="stylesheet" href="/stylesheets/simple-grid.min.css" />
  <link rel="stylesheet" href="/stylesheets/contract.css" />

  <link rel="stylesheet" href="/stylesheets/fontawesome/css/all.min.css" />
</head>

<body>
  <div class="pg-header">
    <table style="width:100%">
      <tr>
        <td>
          <img
            src="https://s3-us-west-2.amazonaws.com/slack-files2/avatars/2016-01-11/18230715235_c0a76622c4931df1fda8_88.png" />
        </td>
        <td>
          <h4>Miteinander Weichen stellen!</h4>
        </td>
      </tr>
    </table>
  </div>

  <div class="pg-footer">
    <table class="footer">
      <tr>
        <td><b>WOHNPROJEKT GLEIS 21</b></td>
        <td><b>WEB: </b>www.gleis21.wien</td>
        <td><b>UID: </b>ATU70349508</td>
      </tr>
      <tr>
        <td>1100 Wien, Bloch-Bauer-Promenade 22</td>
        <td><b>MAIL: </b>hello@gleis21.wien</td>
        <td><b>ZVR-ZAHL: </b>585895816</td>
      </tr>
    </table>
  </div>

  <table style="width: 100%;">
    <thead>
      <tr>
        <td>
          <!--place holder for the fixed-position header-->
          <div class="pg-header-space"></div>
        </td>
      </tr>
    </thead>

    <tbody>
      <tr>
        <td style="padding-left: 80px; padding-right: 80px;">
          <table>
            <tr>
              <td><b>Veranstaltungstitel/Art der Veranstaltung</b></td>
            </tr>
            <tr>
              <td>
                <%= name %>
              </td>
            </tr>
            <tr>
              <td><b>TeilnehmerInnenzahl:&nbsp;&nbsp;</b> <%= participantsCount %></td>
            </tr>
            <tr>
              <td><b>VeranstalterIn (=MieterIn): </b></td>
            </tr>
            <tr>
              <td>
                <%= person.org %>
              </td>
            </tr>
          </table>

          <table style="table-layout: fixed;">
            <tr>
              <td colspan="2">
                <b>Ansprechperson:</b>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">Name:</td>
              <td>
                 <%= person.name %>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">Telefon:</td>
              <td>
                <%= person.telefon %>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">E-Mail-Adresse:</td>
              <td>
                <%= person.email %>
              </td>
            </tr>
            <tr>
              <td colspan="2">
                <b>Rechnungsadresse:</b>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">Name/Institution:</td>
              <td>
                <%= person.org %>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">Straße/Nummer: </td>
              <td>
                <%= person.address %>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">PLZ, Ort: </td>
              <td>
                <%= person.postCode %>, <%= person.city %>
              </td>
            </tr>
            <tr>
              <td style="width: 35%;">UID-Nummer: </td>
              <td>
                <%= person.uid %>
              </td>
            </tr>
            <tr><td colspan="2"><br /><br /><b>Konditionen (wird vom Vermieter ausgefüllt, exkl. USt.)</b></td></tr>
            <tr class="section">
              <td colspan="2">
                <br />
                <b>Benutzungszeiträume:</b>
                <table class="border" style="border-collapse: collapse; width: 100%;">
                  <tr>
                    <th class="cell-padding border" scope="col">Raum</th>
                    <th class="cell-padding border" scope="col"></th>
                    <th class="cell-padding border" scope="col">von</th>
                    <th class="cell-padding border" scope="col">bis</th>
                    <th class="cell-padding border" scope="col">Möblierung</th>
                  </tr>
                  <% timeSlots.forEach( t => { %>
                  <tr>
                    <td class="cell-padding border"><%= t.room %></td>
                    <td class="cell-padding border"><%= t.type %></td>
                    <td class="cell-padding border"><%= t.beginn %></td>
                    <td class="cell-padding border"><%= t.end %></td>
                    <td class="cell-padding border"><%= t.moeblierung %></td>
                  </tr>
                  <% if(t.notes){ %> 
                  <tr>
                    <td colspan="5" class="cell-padding border">
                      <b>Anmerkung:</b><br />
                      <%= t.notes %>
                    </td>
                  </tr>
                  <% }) %>
                  <% }) %>
                </table>
              </td>
            </tr>
            <% if(invoiceItems.equipment){ %> 
            <tr class="section">
              <td colspan="2">
                <br />
                <b>Zusätzliche Ausstattung:</b>
                <table class="border" style="border-collapse: collapse; width: 100%;">
                  <tr>
                    <th class="cell-padding border" scope="col"></th>
                    <th class="cell-padding border" scope="col">Anzahl</th>
                    <th class="cell-padding border" scope="col">Preis</th>
                    <th class="cell-padding border" scope="col">Rabatt</th>
                    <th class="cell-padding border" scope="col">Endpreis</th>
                    <th class="cell-padding border" scope="col">Anmerkung</th>
                  </tr>
                  <% invoiceItems.equipment.forEach( it => { %>
                  <tr>
                    <td class="cell-padding border"><%= it.name %></td>
                    <td class="cell-padding border">
                      <%= it.count %>
                    </td>
                    <td class="cell-padding border"><%= it.price %> &euro;</td>
                    <td class="cell-padding border"><%= it.discount %> &percnt;</td>
                    <td class="cell-padding border"><%= it.finalPrice %> &euro;</td>
                    <td class="cell-padding border"><%= it.notes %></td>
                  </tr>
                  <% }) %>
                  <tr>
                    <td class="cell-padding border" colspan="6"><b>Summe: <%= invoiceItems.equipmentPriceSum %> &euro;</b></td>
                  </tr>
                </table>
              </td>
            </tr>
            <% } %>
            <% if(invoiceItems.rooms){ %> 
            <tr class="section">
              <td colspan="2">
                <br />
                <b>Räume:</b>
                <table class="border" style="border-collapse: collapse; width: 100%;">
                  <tr>
                    <th class="cell-padding border" scope="col"></th>
                    <th class="cell-padding border" scope="col">Preis</th>
                    <th class="cell-padding border" scope="col">Rabatt</th>
                    <th class="cell-padding border" scope="col">Endpreis</th>
                  </tr>
                  <% invoiceItems.rooms.forEach( it => { %>
                  <tr>
                    <td class="cell-padding border"><%= it.name %></td>
                    <td class="cell-padding border"><%= it.price %> &euro;</td>
                    <td class="cell-padding border"><%= it.discount * 100 %> &percnt;</td>
                    <td class="cell-padding border"><%= it.finalPrice %> &euro;</td>
                  </tr>
                  <% }) %>
                  <tr>
                    <td class="cell-padding border" colspan="4"><b>Summe: <%= invoiceItems.roomsPriceSum %> &euro;</b></td>
                  </tr>
                </table>
              </td>
            </tr>
            <% } %>
            <tr class="section">
              <td colspan="2">
                <br>
                <br>
                <b>Sofern nicht anders vereinbart sind im Gundpreis enthalten:</b> W-LAN, Beamer, 1 Flipchart, 1
                Pinnwand, Sound System
              </td>
            </tr>
            <tr class="section">
              <td colspan="2">
                <br>
                <b>Anmerkung zur Buchung und Aufbausetting</b> (bzw. Skizze im Anhang):
                <br>
                <p>
                  <%= notes %>
                </p>
              </td>
            </tr>
            <tr class="section">
              <td colspan="2">
                <br>
                <b>Verpflegung:</b>
                <br>
                Wir empfehlen Gaumenfreundinnen Bio-Catering: https://www.gaumenfreundinnen.com Weitere Empfehlungen auf
                Anfrage.
              </td>
            </tr>
            <tr class="section">
              <td colspan="2">
                <br>
                <br>
                <input type="checkbox" /> Ich akzeptiere die Allgemeinen Geschäftsbedingungen des Vereins Wohnprojekt
                Gleis 21 im Anhang (bitte ankreuzen).
                <br>
                <input type="checkbox" /> Ich stimme der elektronischen Speicherung und Verarbeitung meiner Daten für
                diese und ggf. künftige Vermietung zu.
              </td>
            </tr>
            <tr class="section">
              <td style="width: 60%;">
                <br>
                <br>
                <br>
                <br>
                Datum, Unterschrift<br>
                VeranstalterIn (= MieterIn)
              </td>
              <td  style="width: 40%;">
                <br>
                <br>
                <br>
                <br>
                Datum, Unterschrift<br>
                Verein Wohnprojekt Gleis 21
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </tbody>

    <tfoot>
      <tr>
        <td>
          <!--place holder for the fixed-position footer-->
          <div class="pg-footer-space"></div>
        </td>
      </tr>
    </tfoot>
  </table>
</body>

</html>