.pg-header,
.pg-header-space {
  height: 100px;
  text-align: center;
}

.pg-footer,
.pg-footer-space {
  height: 50px;
}

.pg-footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  font-size: x-small;
}

.pg-header {
  position: fixed;
  top: 0mm;
  width: 100%;
}
table.footer {
  width: 100%;
  padding-left: 20px;
}

.pg {
  page-break-after: always;
}

.border {
  border: 1px solid black;
}
td.cell-padding,
th.cell-padding {
  padding: 15px;
  text-align: left;
}

@page {
  size: auto; /* auto is the initial value */
  margin: 0; /* this affects the margin in the printer settings */
}

@media print {
  thead {
    display: table-header-group;
  }
  tfoot {
    display: table-footer-group;
  }

  body {
    margin: 0;
  }

  div.section {
    page-break-inside: avoid;
  }
}
